<meta charset="UTF-8">
<h1>Search Results</h1>

<!-- Sample Page -->

<h1>Sample Page</h1>

<% allCards.Classic.forEach(eachCard =>{ %>
  <p> <%= eachCard.name %> </p>
  <p> <%= eachCard.type %> </p>
  <p> <%= eachCard.text %> </p>
<%}) %>
