nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}

h1 {
  color: chartreuse;
  text-align: center;
}

.btn.dropdown-toggle  {
  width:150px;
  text-align:left;
}

span.caret {
  position: absolute;
  left: 90%;
  top: 45%;
}

label {
  padding-top:5px;
}

.form-label {
  padding-left:0px !important;
}

img {
  width:140px;
  height:140px;
}

.btn-success {
  background-color: #3b7d4a!important;
}

.btn-success:hover {
  background-color: #4daf64!important;
}

img.track {
  border: 1px solid #8a8a8a;
}

h2 {
  text-align: center;
}
.ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.7;
}

.billy {
  display: inline;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: green;
  border: 2px solid #4CAF50;
}


* { box-sizing: border-box; }